.carousel-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    backdrop-filter: blur(12px) saturate(150%);
    border-top: 0.07rem solid hsla(0, 0%, 100%, 0.3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 899px) {
    .carousel-container {
        height: 120px;
        width: 100vw;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .carousel {
        justify-content: flex-start;
        padding-left: 5%;
    }
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.carousel-item {
    min-width: 113px;
    /* Adjust the width as needed */
    height: 113px;
    margin: 0 10px;
    background-color: #111;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

@media (max-width: 899px) {
    .carousel-item {
        min-width: 60px;
        height: 60px;
        margin: 0 6px;
    }
}

.carousel-item>img {
    opacity: 0.5;
    width: 100%;
}

.carousel-item.active>img {
    opacity: 1;
}

.carousel-item:active {
    transform: scale(0.9);
}

.carousel-item:hover>img {
    opacity: 1;
}


.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}